---
title: Contact us
description: If you want to optimize your business with software and tech - go ahead and write us a few lines about it, we can help!
layout: default
last_modified_at: 2019-06-07
---

<section id="contacts" class="row navbar-push">
    <div class="col-12 standard-centered-page">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1 class="mt-5 mb-3">Get the right tools for your business. Today!</h1>
                <div class="slogan-underline-delim mb-5 ml-0"></div>
                <h4 class="text-transform-none mt-5 mb-3">Do you want to know more about our business software or business
                    optimization?</h4>
                <p>We have an ever growing number of awesome articles in <a
                    href="{{ site.data.navigation.items.posts.url | relative_url }}" title="Check out our blog!">our
                    blog</a>. We'll be happy if you check them out.</p>
                <p>We'll be even happier if you drop us a line at
                    {% include outside-link.html url="mailto:hi@digidworks.com" title="Drop us a line" text="hi@digidworks.com" %}
                    or in the form below
                    and let us know how we can help you out.</p>

                <h4 class="text-transform-none mt-5 mb-3">Are you curious about the look and feel of the platform?</h4>
                <p>The user interface and theme of the application can be changed to best suit your needs.</p>
                <p>To get a general feeling contact us at
                    {% include outside-link.html url="mailto:hi@digidworks.com" title="Drop us a line" text="hi@digidworks.com" %}
                    to book your FREE demo.</p>

                <p>Or you can just visit a
                    {% include outside-link.html url="//demo.digidworks.com" title="Demo management platform!" text="simple minimal demo" %}
                     we set up.</p>

                <h4 class="text-transform-none mt-5 mb-3">Interested in the possible features, controls and dashboards of the
                    management platform?</h4>
                <p>You will get a highly customized application that is always tweaked to perfectly
                    match the specifics of your company.</p>

                <h4 class="text-transform-none mt-5 mb-3">Additional custom development? Deployment? Pricing?</h4>
                <p>If you want to know what are the possibilities for your particular business,
                    contact us at {% include outside-link.html url="mailto:hi@digidworks.com" title="Drop us a line" text="hi@digidworks.com" %}.
                    You'll also get a FREE quote.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <form accept-charset="UTF-8" action="https://getform.io/f/4df02055-26a4-4bf2-90dd-4143083e911e"
                      method="POST">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">Email*</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="Enter your email" required tabindex="1">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name">Name*</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name"
                                   required tabindex="2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="company">Company name</label>
                            <input type="text" name="company" class="form-control" id="company"
                                   placeholder="Enter your company name" required tabindex="3">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="project">What kind of project are we talking about?</label>
                            <input type="text" name="project" class="form-control" id="project"
                                   placeholder="Enterprise search engine, restaurant management, IoT management, etc."
                                   tabindex="4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="message">Your message*</label>
                            <textarea name="message" class="form-control" id="message" rows="5"
                                      placeholder="We would like to know a bit about yourself, about the project's business goals or any questions you have..."
                                      required tabindex="5"></textarea>
                        </div>
                    </div>

                    <input type="text" id="website_field" name="website" tabindex="-1">

                    <div class="form-row">
                        <div class="form-group text-right col">
                            <button type="submit" class="btn btn-primary btn-orange font-weight-bold" tabindex="6">
                                That's it!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
