{%- assign head_title = "" -%}
{%- assign meta_description = "" -%}
{%- assign page_image = "" -%}
{%- include global-variables.html %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | absolute_url }}"
        },
        "headline": "{{ head_title }}",
        "image": [
            "{{ page_image }}"
        ],
        "datePublished": "{{ page.date | time_tag }}",
        "dateModified": "{{ page.last_modified_at | time_tag }}",
        "author": {
            "@type": "Person",
            "name": "Nikolai Tenev"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.name }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.logo | absolute_url }}"
            }
        },
        "description": "{{ meta_description }}"
    }
</script>
