<section id="get-free-quote" class="row">
    <div class="col-12">
        <div class="row">
            <div class="offset-1 col-10 offset-lg-3 col-lg-6 text-right">
                <h3 class="mb-3">Need some code?</h3>
                <div class="slogan-underline-delim mb-5 mr-0"></div>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10 offset-lg-3 col-lg-6 text-right">
                <a class="btn btn-link btn-lg highlight-light"
                   href="{{ site.data.navigation.items.contacts.url | relative_url }}"
                   title="Drop us a line on our contacts page">Get a FREE quote!</a>
            </div>
        </div>
    </div>
</section>