<section id="subscribe" class="row {{ include.cssClass }}">
    <div class="col-12 py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-xl-7 col-xxxl-5 col-xxxxl-4 text-right">
                <h3 class="mb-3">Want more business insights?</h3>
                <div class="slogan-underline-delim mb-5 mr-0"></div>
                <p class="font-weight-bolder">Subscribe and get expert tips on how to optimize, automate and manage more efficiently.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-xl-7 col-xxxl-5 col-xxxxl-4 text-right">
                <form action="https://gmail.us20.list-manage.com/subscribe/post?u=7176421fedb2c7dcd68297cfa&id=d90e03c4a5"
                      method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate rel="noopener">
                    <div class="form-group row justify-content-end">
                        <div class="col-sm-7">
                            <input id="subscribeEmail" class="form-control h-100" type="email" value="" name="EMAIL" placeholder="Email" required>
                        </div>
                        <div class="col-sm-auto pt-3 pt-sm-0">
                            <button class="btn btn-lg highlight-light cta-button" type="submit">Get notifications</button>
                        </div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7176421fedb2c7dcd68297cfa_d90e03c4a5" tabindex="-1" value=""></div>
                </form>
            </div>
        </div>
    </div>
</section>