html {
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, #get-free-quote p, #get-free-demo p {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

h1, #get-free-quote p, #get-free-demo p {
    font-weight: 900;
}

h2 {
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

h6 {
    font-weight: 700;
}

.text-transform-none {
    text-transform: none;
}

.line-height-1 {
    line-height: 1;
}

#navbar .nav-link {
    color: #6c184e;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 1px;
    padding-top: 1px;
}

.single-post-header nav {
    margin-left: auto;
}

.single-post-header .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.single-post-header .breadcrumb a {
    color: #fff;
}

.single-post-header .breadcrumb-item, .single-post-header .breadcrumb-item.active, .single-post-header .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

@media (max-width: 768px) {
    .breadcrumb-item + .breadcrumb-item {
        padding-left: .3rem;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        padding-right: .2rem;
    }
}

.breadcrumb, .btn, input, textarea, input.form-control, textarea.form-control {
    border-radius: 0;
}

a {
    color: #ff6038;
}

a:hover {
    color: #430e31;
}

button:focus {
    outline: 5px auto #ff6038;
}

.color-purple {
    color: #6c184e !important;
}

.color-orange {
    color: #ff6038 !important;
}

.no-underline {
    text-decoration: none !important;
}


#navbar {
    padding: 12px;
    background-color: #fff;
    transition: padding, padding-top, padding-top, 300ms;
    align-items: flex-start;
}

#navbar.scrolled {
    background-color: rgba(33, 33, 33, 0.9);
}

#navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: padding, padding-top, padding-top, 300ms;
}

#navbar-brand-link {
    position: absolute;
    padding: 0;
    display: inline-block;
}

#navbar-brand-link img {
    vertical-align: bottom;
    height: 39px;
}

.navbar-expand-lg .navbar-collapse {
    text-align: center;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-toggler-icon {
    max-width: 30px;
    max-height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ff6038' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M2 7h25M2 15h25M2 23h25'/%3E%3C/svg%3E");
}

#navbar .nav-link.active {
    color: #ff6038;
}

.animated {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-push {
    padding-top: 3.5rem;
}

#home {
    background-color: #000;
    z-index: -2;
    position: relative;
}

#neon-slogan > div {
    position: relative;
    z-index: 3;
    overflow: visible;
    width: 100%;
}

#neon-slogan {
    font-family: 'Iceland', cursive;
    font-size: 1vw;
    line-height: 1.2;
}

#neon-slogan .first {
    font-size: 7.7em;
    white-space: nowrap;
}

#neon-slogan .second {
    font-size: 8em;
    font-family: 'Iceland', sans-serif;
    text-transform: none;
}

@media (min-width: 576px) {
    /*#neon-slogan .first {*/
    /*    font-size: 2.5em;*/
    /*}*/
    #neon-slogan .second {
        font-size: 6em;
    }
}

@media (min-width: 992px) {
    #neon-slogan .first {
        font-size: 5.1em;
    }

    #neon-slogan .second {
        font-size: 3.8em;
    }
}

@media (min-width: 1600px) {
    #neon-slogan .first {
        font-size: 4.5rem;
    }

    #neon-slogan .second {
        font-size: 3rem;
    }
}

#get-free-quote p, #get-free-demo p {
    font-size: 3.3rem;
}

#typing-code, .typed-cursor {
    display: none;
}

#typed-code {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%),
    linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 20%),
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 20%),
    linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
}

#typed-code p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#typed-code code {
    z-index: -1;
    position: relative;
}

#typed-code code, #typed-code {
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
}

@media (min-width: 992px) {
    #typed-code code, #typed-code {
        height: 300px;
        font-size: 14px;
    }
}

.cta-button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
}

#what-we-can-do, #get-free-quote, #copyright, #projects, #projects-list {
    color: #fff;
    background-color: #24181f;
}

#why-us {
    color: #fff;
    background: -moz-linear-gradient(-45deg, #6c184e 0%, #ff6038 100%);
    background: -webkit-linear-gradient(-45deg, #6c184e 0%, #ff6038 100%);
    background: linear-gradient(135deg, #6c184e 0%, #ff6038 100%);
}

#testimonials, #technical-side, #who-are-we, #what-you-get, #get-free-demo {
    background-color: #faf9f8;
}

#testimonials blockquote footer {
    color: #ff6038;
    font-weight: bold;
}

#what-we-can-do img {
    max-height: 130px;
}

#projects a:hover {
    color: #fff;
    text-decoration: none;
}

#blog {
    margin-top: 3rem;
}

@media (min-width: 992px) {
    #blog {
        margin-top: 100px;
    }
}

#sitemap ul {
    padding-left: 20px;
}

#contacts, #sitemap, #single-project-page, #single-post-page {
    flex: 1;
}

#contacts a {
    color: #fff;
    background-color: #ff6038;
}

#contacts a:hover {
    color: #fff;
    background-color: #b34327;
    text-decoration: none;
}

#contacts .form-group {
    margin-bottom: 15px;
}

#contacts label {
    background-color: #ff6038;
    padding: 0 5px;
}

#contacts label {
    color: #fff;
}

#contacts input, #contacts textarea {
    color: #000;
    border: 0;
    box-shadow: 0 0 2px 0 #888;
}

#contacts .form-control:focus {
    color: #000;
    background-color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 0 2px 0 #888;
}

#copyright img {
    height: 40px;
}

#copyright .nav a.active, #copyright .nav a:hover {
    color: #b12b7e;
}

#copyright .social img {
    max-width: 30px;
}

#project-screenshots img {
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.standard-centered-page {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

nav .pagination .page-link {
    color: #6c184e;
    border: 0 none;
    border-radius: 0;
    margin-right: 5px;
}

nav .pagination .page-item.disabled .page-link,
nav .pagination .page-item:not(.active).disabled:hover .page-link {
    background-color: transparent;
}

nav .pagination .page-item.active .page-link {
    cursor: default;
}

nav .pagination .page-link:focus {
    box-shadow: none;
}

.slogan-underline-delim {
    width: 100px;
    height: 4px;
    margin: auto;
    background: #ff6038;
}

.slogan-underline-delim.delim-right {
    margin-right: 0;
}

.slogan-underline-delim.delim-left {
    margin-left: 0;
}

.slogan-underline-delim.delim-white {
    background: #fff;
}

.project-box {
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.svg-icon-150 {
    max-width: 150px;
}

.button-shadow-black {
    filter: drop-shadow(2px 4px 6px #000);
}

@media (min-width: 576px) {
    .project-box {
        min-height: 450px;
    }
}

@media (min-width: 992px) {
    .project-box {
        min-height: 600px;
    }
}

.project-box > .d-flex {
    flex-grow: 1;
    flex-shrink: 1;
    background: -moz-linear-gradient(-45deg, rgba(108, 24, 78, 0.8) 0%, rgba(255, 96, 56, 0.6) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(108, 24, 78, 0.8) 0%, rgba(255, 96, 56, 0.6) 100%);
    background: linear-gradient(135deg, rgba(108, 24, 78, 0.8) 0%, rgba(255, 96, 56, 0.6) 100%);
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;
}

.project-box:hover > .d-flex {
    background-color: rgba(108, 24, 78, 0.6);
}

.project-box > .d-flex p, .project-box > .d-flex h4 {
    font-weight: bold;
    width: 100%;
    background-color: #781a36;
}

.blog-box {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.blog-box .blog-excerpt {
    padding: 1.5rem;
}

.blog-box .blog-excerpt h3 a {
    color: #6c184e;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.blog-box .blog-excerpt h3 a:hover {
    color: #4b1434;
    text-decoration: none;
}

.product-feature .product-cover {
    background: no-repeat, center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 250px;
}

.single-post-header {
    min-height: 300px;
    background-size: cover;
    background-position: center center;
}

.single-post-header > .d-flex {
    background-color: rgba(45, 22, 10, 0.85);
    color: #fff;
}

.btn-purle {
    background-color: #6c184e;
    border-color: #56133e;
}

.btn-purle:not(:disabled):not(.disabled):active:focus,
.btn-purle:focus,
.btn-purle:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    background-color: #460f32;
    border-color: #3c0d2b;
}

.btn-purle:not(:disabled):not(.disabled).active, .btn-purle:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #460f32;
    border-color: #3c0d2b;
}

.btn-purle:hover, .btn-purle:hover {
    color: #fff;
    background-color: #56133e;
    border-color: #460f32;
}

.btn-orange, .btn-orange {
    background-color: #ff6038;
    border-color: #da5230;
}

.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange:focus,
.btn-orange:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    background-color: #da5230;
    border-color: #b34327;
}

.btn-orange:not(:disabled):not(.disabled).active, .btn-orange:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #b34327;
    border-color: #8c341f;
}

.btn-orange:hover {
    color: #fff;
    background-color: #da5230;
    border-color: #b34327;
}

[class^=icon-], [class*=" icon-"] {
    display: inline-block;
    width: 25px;
    height: 20px;
    vertical-align: sub;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.icon-folder {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M17 9l-2-4H4.00276013C2.89666625 5 2 5.88967395 2 6.991155v18.01769C2 26.1085295 2.89971268 27 3.99328744 27H29.0067126C30.1075748 27 31 26.1073772 31 25.0049107V10.9950893C31 9.8932319 30.1029399 9 28.9941413 9H17zm-.6400146 1l-1.959961-4H3.99173483C3.44401481 6 3 6.45530558 3 6.99180311V25.0081969C3 25.5559546 3.44610862 26 3.99296544 26H29.0070346C29.5554342 26 30 25.5553691 30 24.9991283V11.0008717C30 10.4481055 29.5461723 10 28.9970172 10H16.3599854z'/%3E%3C/svg%3E");
}

.icon-calendar {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23000000'%3E%3Cpath d='M27.08597254 30.00000288H4.7873301c-1.52036198 0-2.7873303-1.26984126-2.7873303-2.79365077V6.69841576c0-1.52380951 1.01357466-2.79365077 2.3438914-2.79365077h1.39366514V5.7460348H4.3438912c-.19004525 0-.44343891.38095238-.44343891.95238095V27.2063521c0 .5079365.44343891.95238094.95022624.95238094h22.29864243c.50678733 0 .95022624-.44444444.95022624-.95238094V6.69841576c0-.57142857-.31674208-.95238095-.44343891-.95238095h-1.39366515V3.904765h1.39366515c1.26696832 0 2.3438914 1.26984126 2.3438914 2.79365077V27.2063521c-.12669684 1.52380951-1.39366516 2.79365077-2.91402714 2.79365077'/%3E%3Cpath d='M8.52488665 7.6507967c-.50678733 0-.95022624-.44444444-.95022624-.95238094V2.95238404c0-.5079365.44343891-.95238094.95022624-.95238094s.95022624.44444444.95022624.95238094v3.74603172c-.06334842.5079365-.44343891.95238094-.95022624.95238094M23.348416 7.6507967c-.50678734 0-.95022625-.44444444-.95022625-.95238094V2.95238404c0-.5079365.44343891-.95238094.95022624-.95238094s.95022624.44444444.95022624.95238094v3.74603172c0 .5079365-.44343891.95238094-.95022624.95238094M11.31221695 3.90476499h9.24886874v1.90476189h-9.24886874zM3.83710386 9.49206653h24.19909492v1.9047619H3.83710386zM24.29864223 13.23809825h1.83710407v1.84126983h-1.83710407zM20.56108569 13.23809825h1.90045248v1.84126983h-1.90045248zM16.88687756 13.23809825h1.83710406v1.84126983h-1.83710406zM13.14932102 13.23809825h1.83710406v1.84126983h-1.83710406zM9.41176447 13.23809825h1.90045248v1.84126983H9.41176447zM24.29864223 16.98412996h1.83710407v1.84126983h-1.83710407zM20.56108569 16.98412996h1.90045248v1.84126983h-1.90045248zM16.88687756 16.98412996h1.83710406v1.84126983h-1.83710406zM13.14932102 16.98412996h1.83710406v1.84126983h-1.83710406zM9.41176447 16.98412996h1.90045248v1.84126983H9.41176447zM5.73755634 16.98412996h1.83710407v1.84126983H5.73755634zM24.29864223 20.66666962h1.83710407v1.90476189h-1.83710407zM20.56108569 20.66666962h1.90045248v1.90476189h-1.90045248zM16.88687756 20.66666962h1.83710406v1.90476189h-1.83710406zM13.14932102 20.66666962h1.83710406v1.90476189h-1.83710406zM9.41176447 20.66666962h1.90045248v1.90476189H9.41176447zM5.73755634 20.66666962h1.83710407v1.90476189H5.73755634zM20.56108569 24.41270134h1.90045248v1.84126982h-1.90045248zM16.88687756 24.41270134h1.83710406v1.84126982h-1.83710406zM13.14932102 24.41270134h1.83710406v1.84126982h-1.83710406zM9.41176447 24.41270134h1.90045248v1.84126982H9.41176447zM5.73755634 24.41270134h1.83710407v1.84126982H5.73755634z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-tag {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M11.7611742 6H17l13.3809027 13.3809027c.7831481.7831481.7871143 2.0510559.0075388 2.8306314l-7.1769074 7.1769074c-.7784151.7784151-2.0468923.7762003-2.8306314-.0075388L7 16V7.99961498c0-.95008555.65331438-1.73616102 1.53219717-1.94511423.16407026.26523962.29915498.58091014.39326666.94890353C8.40733258 7.04608755 8 7.48465971 8 8.00844055V15.5l13.0998579 13.171163c.3885251.3906398 1.0184956.3901569 1.4044369.001581l7.1635906-7.2124924c.387124-.3897667.3852221-1.0188604-.0058745-1.4067333L16.5 7h-4.50889c-.0236144-.11419169-.047425-.23174896-.0714282-.35272335-.0444155-.22385098-.097464-.43960641-.1585076-.64727665zm.7195512 3.00007275A2.55269234 2.55269234 0 0 1 12.5 9c1.3807119 0 2.5 1.1192881 2.5 2.5S13.8807119 14 12.5 14 10 12.8807119 10 11.5c0-.1606617.0151552-.3177838.0441139-.4700146.5779497 1.2765633 1.3010855 1.8412843 2.3784931 1.9754467.005844.0007277.0118262-.0015311.0179312-.0065891C12.4602634 12.999612 12.4800864 13 12.5 13c.8284272 0 1.5-.6715728 1.5-1.5 0-.6853708-.4596588-1.2633824-1.0875134-1.4425718.0001585-.0073693-.0000546-.011607-.0006577-.0124834-.1294738-.18815903-.2737231-.52869591-.4311035-1.04487205zm-1.541922-2.1581746c-.8666122-4.36766358-5.55521014-4.9824805-7.36211605-2.10799295-1.44889382 2.30494971-.01531049 6.2660947 2.42331262 6.266095l1.2e-7-1C4.44811081 10 3.35178121 6.97072339 4.4233126 5.26609472c1.34260636-2.135864 4.85082176-1.6758309 5.53461241 1.77042493.80890959 4.07684655 1.41900999 4.96348075 3.04207519 4.96348025l-3e-7-1c-.9931576 3e-7-1.3346269-.4962433-2.0611965-4.15810175z'/%3E%3C/svg%3E");
}

.icon-code {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg fill='none' stroke='%23000000' stroke-linecap='square' stroke-miterlimit='10' stroke-width='8'%3E%3Cpath d='M34.033 89.467L8.566 64M8.566 64l25.467-25.467'/%3E%3Cg%3E%3Cpath d='M93.967 38.533L119.434 64M119.434 64L93.967 89.467'/%3E%3C/g%3E%3Cpath d='M42 105.621l45.561-83.242'/%3E%3C/g%3E%3C/svg%3E");
}

.medium-zoom-overlay, .medium-zoom-image--opened {
    z-index: 1041;
}

#website_field {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.highlight-dark {
    background-color: #6c184e;
    color: #fff;
}

.highlight-dark:hover {
    background-color: #ff6038;
    color: #fff;
    text-decoration: none;
}

.highlight-light {
    background-color: #ff6038;
    color: #fff;
}

.highlight-light:hover {
    background-color: #6c184e;
    color: #fff;
    text-decoration: none;
}

