/**
Props go to Jase Smith (https://codepen.io/jasesmith/pen/rrVzym) for making this amazing effect only with CSS!
 */
:root {
    --spread: .5em;
    --shift: .01em;
    --light-purple: #DC329E;
    --purle: #6c184e;
    --orange: #ff6038;
}

@keyframes big-flicker1 {
    95% {
        text-shadow: 0 0 0.05em var(--orange),
        0 0 0.1em var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        0 0 var(--spread) var(--orange),
        0 0 calc(var(--spread) / 1.5) var(--orange);
    }
    98% {
        text-shadow: 0 0 0.05em var(--orange),
        0 0 0.1em var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        0 0 0 var(--orange),
        0 0 0 var(--orange);
    }
}

@keyframes big-flicker2 {
    90% {
        opacity: .1;
        text-shadow: 0 0 0.05em var(--orange),
        0 0 0.1em var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
        0 0 0 var(--orange),
        0 0 0 var(--orange);
    }
}

@keyframes small-flicker1 {
    85% {
        text-shadow: 0 0 0.05em var(--purle),
        0 0 0.1em var(--purle),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--purle),
        0 0 var(--spread) var(--purle),
        0 0 calc(var(--spread) / 1.5) var(--purle);
    }
    88% {
        text-shadow: 0 0 0.05em var(--light-purple),
        0 0 0.1em var(--light-purple),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--light-purple),
        0 0 0 var(--light-purple),
        0 0 0 var(--light-purple);
    }
    95% {
        text-shadow: 0 0 0.05em var(--purle),
        0 0 0.1em var(--purle),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--purle),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--purle),
        0 0 var(--spread) var(--purle),
        0 0 calc(var(--spread) / 1.5) var(--purle);
    }
    98% {
        text-shadow: 0 0 0.05em var(--light-purple),
        0 0 0.1em var(--light-purple),
        calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 25) var(--light-purple),
        calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 25) var(--light-purple),
        0 0 0 var(--light-purple),
        0 0 0 var(--light-purple);
    }
}

#neon-slogan h1, #neon-slogan h2 {
    text-transform: none;
    font-weight: 100;
    margin: 0;
    padding: 0;
    letter-spacing: -.01em;
    color: transparent;
    text-shadow: 0 0 0.05em var(--orange),
    0 0 0.1em var(--orange),
    calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
    calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
    calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--orange),
    calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--orange),
    0 0 var(--spread) var(--orange),
    0 0 calc(var(--spread) / 1.5) var(--orange);
}

#neon-slogan h2 {
    text-shadow: 0 0 0.05em var(--purle),
    0 0 0.1em var(--purle),
    calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--purle),
    calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--purle),
    calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--purle),
    calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--purle),
    0 0 var(--spread) var(--purle),
    0 0 calc(var(--spread) / 1.5) var(--purle);
}

#neon-slogan h1 span:nth-child(1), #neon-slogan h1 span span:nth-child(2) {
    animation: big-flicker1 1s infinite alternate ease-in-out;
}

#neon-slogan h1 span:nth-child(2) {
    animation: big-flicker1 1.5s infinite alternate ease-in-out;
}

#neon-slogan h1 span span:nth-child(1) {
    animation: big-flicker1 .47s infinite alternate ease-in-out;
}

#neon-slogan h1 span:nth-child(4) {
    animation: big-flicker2 .1s infinite alternate ease-in-out;
}

#neon-slogan h2 {
    animation: small-flicker1 1s infinite alternate ease-in-out;
}