---
title: Remote working for small and mid-sized businesses
categories: [management, small-business, mid-sized-business, smes, guides]
tags: [Remote working, Efficiency, Cost reduction, Management, Business optimization]
thumbnails:
    full: /assets/img/posts/thumbs/remote-work-for-small-and-mid-sized-businesses.jpg
resume: |
    Guide to remote work for business owners. Find advice about what tools to use and how to overcome the most common problems.
position: 8
last_modified_at: 2020-04-11
---
<nav class="mb-5">
    <h4 id="table-contents" class="mb-3">Table of contents</h4>
    <ul class="nav flex-column">
        <li>
            <a href="#preparation" title="How to prepare for remote working">How to prepare for remote working</a>
            <ul>
                <li>
                    <a href="#benefits" title="Benefits of having a fully distributed workforce">Benefits of having a fully distributed workforce</a>
                    <ul>
                        <li><a href="#happy-employees" title="Happier employees and more productivity">Happier employees and more productivity</a></li>
                        <li><a href="#lower-bills" title="Lower bills">Lower bills</a></li>
                        <li><a href="#its-green" title="It's green!">It's green!</a></li>
                        <li><a href="#talent-pool" title="A much larger talent pool">A much larger talent pool</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#problems" title="Potential problems and how to deal with them">Potential problems and how to deal with them</a>
                    <ul>
                        <li><a href="#bad-communication" title="Bad communication">Bad communication</a></li>
                        <li><a href="#bad-employees" title="Unreliable employees, slackers and high staff turnover">Unreliable employees, slackers and high staff turnover</a></li>
                        <li><a href="#security" title="Security">Security</a></li>
                        <li><a href="#payments" title="Payments">Payments</a></li>
                    </ul>
                </li>
                <li><a href="#up-to-you" title="It's up to you">It's up to you</a></li>
            </ul>
        </li>
    </ul>
</nav>
<p>A {% include outside-link.html url="https://zapier.com/blog/remote-work-report-by-zapier/" text="study done in 2019 by Zapier" title="Study on remote work by Zapier" %} said that for knowledge workers the office will probably be obsolete by 2030.</p>
<p>And it's not just a nice social benefit to offer your employees, there are some considerable pros for business owners as well.</p>
<p>If you're worrying, that you might be too late - don't, remote working can be implemented at any stage of a business. Of course, the earlier the better as this will make things easier and will practically remove any transition period.</p>
<p>In the next section, we'll discuss what are some steps and tools that'll help you with going remote.</p>
<h2 id="preparation">How to prepare for remote working</h2>
<p>Proper tooling can help you a lot as a business owner trying to create a fully distributed team.</p>
<p>Managing and sharing files might seem impossible when employees are not in the same room or building, but cloud storage services help a lot. The most popular examples are:</p>
<ul>
    <li>Google drive</li>
    <li>OneDrive</li>
    <li>Dropbox</li>
    <li>iCloud</li>
    <li>Box</li>
</ul>
<p>These services integrate well with email, they have web and mobile apps to make using them easier, and don't require any complex setup (like network storage).</p>
<p>For securely storing sensitive data (e.g. passwords) an online password manager is a great tool. Some examples are:</p>
<ul>
    <li>LastPass</li>
    <li>1Password</li>
    <li>Dashlane</li>
    <li>KeePass</li>
    <li>Bitwarden</li>
</ul>
<p>These often come with browser extensions and apps to make things even easier to use.</p>
<p>Next on the list is team and project management. Depending on what your goals are, there are tons of applications with varying features. There are simple kanban boards, that are great for simple task management, and complex management applications that integrate many additional functionalities like messaging, file sharing, reminders, todos, etc.</p>
<p>Some of the more popular ones are:</p>
<ul>
    <li>Basecamp</li>
    <li>Trello</li>
    <li>Jira</li>
    <li>Bitrix24</li>
    <li>nTask</li>
    <li>Asana</li>
</ul>
<p>A lot of people have already widely adopted many of the available communication tools. Even non-remote teams often use them for communication. The simplest of them is email, next are chat applications, and then audio and video conferencing software. They are very easy to use and are irreplaceable when working remotely. Some examples are:</p>
<ul>
    <li>Slack</li>
    <li>Skype</li>
    <li>Zoom</li>
    <li>Google Hangouts</li>
    <li>Microsoft Teams</li>
    <li>Rocket.Chat</li>
    <li>Discord</li>
    <li>Chanty</li>
    <li>UberConference</li>
</ul>
<p>Last on this list of tools are the remote desktop tools. They're probably not going to be used very often, but are still very important. They give you the option to connect to and work on any computer on the Internet as if you're sitting in front of it. This is very convenient because it enables your employees to help each other with computer-related tasks. Tools that fall in this category are:</p>
<ul>
    <li>TeamViewer</li>
    <li>Chrome remote desktop</li>
</ul>
<p>Of course, there are many more apps that you can use to manage your business properly when working with a distributed workforce. But these are the most important ones that will help get you started.</p>
<p>So what else do you need to know as a business owner to make your transition easier? Communication is key.</p>
<p>Most of us are used to communicating the traditional way, especially in the workplace. That's exactly why a lot of people have trouble with communication when they are starting with remote work.</p>
<p>An easy fix for this situation is to "overcommunicate". In the context of remote work and remote communication oversharing information can be a good thing. Comprehensive explanations with all the needed details will help with the elimination of misunderstandings.</p>
<p>Now you are ready to reap all the pros of having remote employees. Check them out in the next section.</p>
<h3 id="benefits">Benefits of having a fully distributed workforce</h3>
<p>Remote working is becoming increasingly popular. But that's not because it's just a trend about to pass. It has numerous advantages both for employees and employers. Most of those are also synergetic like the first one on this list, which is:</p>
<h4 id="happy-employees">Happier employees and more productivity</h4>
<p>{% include outside-link.html url="https://www.owllabs.com/state-of-remote-work/2019" text="Owllabs found out that 83% of employees would be happier if able to work remotely" title="Study about remote work by Owllabs" %}. Having happier employees will naturally increase their productivity and loyalty.</p>
<p>Working at your own pace in a comfortable environment is a big benefit for most people. The rise of the gig economy is another proof of this.</p>
<p>Also not having to commute will reduce significantly the stress levels for most people. Those that still prefer to work in an office have the option to choose a coworking place with the most convenient location.</p>
<h4 id="lower-bills">Lower bills</h4>
<p>This depends on the number of employees you have, the number of offices, and so on. But in general, letting your people work from home means that you'll get lower utility & Internet bills, and reduced office costs like rent, supplies, furniture, snacks & beverages, etc.</p>
<p>You also won't need an IT team to take care of the office PCs, printers and networks.</p>
<h4 id="its-green">It's green!</h4>
<p>As I've mentioned, remote workers don't need to commute. This is another synergetic benefit. It leads to less stress and more free time for employees, but at the same time they generate less pollution, so in the end, this is a greener solution.</p>
<h4 id="talent-pool">A much larger talent pool</h4>
<p>Well, you get to recruit employees from all over the world, or at least the parts of the world with timezones overlapping with your own.</p>
<p>A larger talent pool means getting better employees for an adequate price.</p>
<h3 id="problems">Potential problems and how to deal with them</h3>
<p>Most problems with remote workforce are usually exaggerated and exist in non-remote teams as well.</p>
<p>Higher staff turnover, poor communication or slacking isn't something unique and reserved for remote workers.</p>
<p>Such problems indicate that something in the hiring, working and/or management process in the company isn't quite right.</p>
<p>Following is a list of the most common complaints, that people have with remote teams, and what you can do to fix things. Of course, these suggestions are perfectly adequate for businesses with inhouse workers as well.</p>
<h4 id="bad-communication">Bad communication</h4>
<p>Communication always seems to be the number one problem when it comes to remote work.</p>
<p>Whether it's a language barrier or being unable to hold meetings, go to your colleague's desk for a quick question or something else, lack of communication is almost always mentioned when it comes down to the disadvantages of remote work.</p>
<p>I think the problem here is not that it's impossible to achieve a decent level of communication remotely, but rather the fact, that people are used to doing it a certain way and don't want to change.</p>
<p>This could pose a serious threat to "old school" businesses, because of the younger people entering the workforce every year. They have different communication habits and this might force companies to adapt.</p>
<p>So what can you do about this?</p>
<p>In general, it depends on the exact problem. If issues with the level of speaking/writing in a certain language used for communication in the company are of concern, a simple test on the job interview can be very helpful.</p>
<p>If the problems are more on the organizational side of things, then a good project management software can do wonders. They offer a variety of functions that would be incredibly useful for managing your employees. You can create different projects with all the relevant data, you can create todos, reminders & alerts, pitch ideas, automate check-ins & nudges, have dashboards with all the relevant information about the status of your team and what they're currently doing, and so on.</p>
<p>Everything else can be easily mitigated with the help of modern messaging tools. For a quick question, text or voice chat can be used, and for meetings, there are a lot of video conferencing options.</p>
<h4 id="bad-employees">Unreliable employees, slackers and high staff turnover</h4>
<p>Paying somebody and receiving bad results or no results at all isn't exactly a new trend introduced by remote workers or contractors.</p>
<p>Even reputable companies can sometimes fail to deliver. In-office employees often slack too and having a manager watching over your shoulder now and then is neither helping nor motivating.</p>
<p>If these problems are present in your business remote or not, measures need to be taken.</p>
<p>The easiest thing to do is to start using a team or task management app, to help you stay on top of things. With the provided better visibility over your employees, you'll be able to pinpoint any issues with laser-like accuracy.</p>
<p>A more serious measure is to improve your hiring process. Preventing the problem altogether is probably the best thing you can do, but it's harder to achieve. You or your HR team will need to be able to quickly determine whether or not a person will be a reliable employee, which is not an easy feat.</p>
<p>Another thing you can do is to try and increase overall staff morale and make the employees more involved in the process. You can offer above-average remuneration, non-monetary benefits like yearly meetups, company-sponsored vacations,  sport or gaming events, etc. You can also have a more horizontal hierarchy in your company, where everybody is more or less involved in the management process as well. Taking your employees' opinions into consideration can help a lot in making them more engaged.</p>
<h4 id="security">Security</h4>
<p>If a business is dealing with sensitive data, security is always a concern. Having an in-house team or not, strict security measures should be in place.</p>
<p>A password manager can help with storing of sensitive accounts and other related data. They are usually easy to use and setup.</p>
<p>All work computers should have their operating systems, anti-virus software and firewalls updated and properly configured.</p>
<p>All communication containing sensitive data should be done securely.</p>
<p>As you can see, all of these apply for non-remote workers as well as for remote ones.</p>
<h4 id="payments">Payments</h4>
<p>The recent growth in the fintech industry made payments a lot easier, even international ones. So this isn't a problem anymore, but I'm going to list it here anyway for the people that are still having hard times with this.</p>
<p>Right now, by using a modern fintech payment provider you get faster payments with lower taxes and also much better exchange rates.</p>
<h3 id="up-to-you">It's up to you</h3>
<p>A remote workforce is not a one-size-fits-all solution. Many businesses simply can't do it, because of the nature of the work they do. And even for those that can, there are too many other factors that can influence such a major decision.</p>
<p>So the best advice is to consider all the factors and try to make a well-informed decision about your specific business case. And even if you decide not to go that route, you can still benefit from using the software tools I mentioned.</p>